<div class="top-row my-top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">No Render Mode</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu ps-2" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="weather" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu ps-2" aria-hidden="true"></span> Weather [StreamRendering]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="weather/no-stream-rendering" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu ps-2" aria-hidden="true"></span> Weather No Stream Rendering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/render-mode-none" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter No Mode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/render-mode-client" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Client
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/render-mode-server" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Server
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/auto/render-mode-none" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auto Counter No Mode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/auto/interactive-server-stream-rendering" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auto Counter Server Stream Rendering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/auto/stream-rendering" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auto Counter Stream Rendering No Mode
            </NavLink>
        </div>

    </nav>
</div>

