<div class="top-row my-top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Auto Render Mode</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="counter/interactive-auto" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Auto
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="counter/interactive-client" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Client
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="counter/interactive-server" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Server
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="counter/realtime/server" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Real-Time Server
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="counter/realtime/client" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Real-Time Client
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="weather/interactive-server" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather Server
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="weather/stream-rendering" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather Stream Rendering
            </NavLink>
        </div>
    </nav>
</div>

