@page "/counter/realtime/client"
@using RenderModes.Shared.Services
@rendermode InteractiveAuto
@inject CounterService CounterService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CounterService.GetCount()</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    protected override void OnInitialized()
    {
        CounterService.OnChange += async () => await InvokeAsync(StateHasChanged);
    }

    private void IncrementCount()
    {
        CounterService.IncrementCount();
    }

    public void Dispose()
    {
        CounterService.OnChange -= async () => await InvokeAsync(StateHasChanged);
    }
}
