@page "/"

<PageTitle>Home</PageTitle>

<h1>Repro</h1>
@* Create a list with reproduction steps *@
<ol>
    <li>Counter real-time client</li>
    <li>new tab</li>
    <li>Counter real-time server on new</li>
    <li>Counter real-time client on new tab</li>
    <li>first tab client stays broken</li>
</ol>
