@page "/"

<PageTitle>Home</PageTitle>

<h1>Repro</h1>
1. Counter real-time client
2. new tab
3. Counter real-time server on new
4. Counter real-time client on new tab
5. first tab client stays broken
