<div class="top-row my-top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Server Side</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="counter" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/auto/server" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auto Counter Server
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/auto/SSR" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Auto Counter Stream Rendering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3 pe-3" href="counter/realtime" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter Real-Time
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="weather/ssr">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather Stream Rendering
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link ps-3" href="weather/no-ssr">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather no Stream Rendering
            </NavLink>
        </div>
    </nav>
</div>

